# Anthropic
ANTHROPIC_API_KEY=

# AWS
AWS_ACCESS_KEY_ID=
AWS_DEFAULT_REGION=
AWS_GUARDRAIL_ID=
AWS_SECRET_ACCESS_KEY=

# Azure AI Content Safety
AZURE_AI_CONTENT_SAFETY_ENDPOINT=
AZURE_AI_CONTENT_SAFETY_KEY=

# Azure AI Foundary
AZURE_FOUNDARY_PHI35_MINI_ENDPOINT=
AZURE_INFERENCE_CREDENTIAL=

# Azure OpenAI Studio
AZURE_OPENAI_API_KEY=
AZURE_OPENAI_ENDPOINT=

# Custom OpenAI API
CUSTOM_API_KEY=
CUSTOM_API_URL=

# DeepSeek
DEEPSEEK_API_KEY=

# Google
GOOGLE_API_KEY=

# GROQ
GROQ_API_KEY=

# HuggingFace
HF_TOKEN=

# HuggingFace (Legacy)
HUGGINGFACEHUB_API_TOKEN=

# LLAMACCP
LLAMACPP_URL=

# OLLAMA
OLLAMA_MAX_ATTEMPTS=
OLLAMA_TIMEOUT=
OLLAMA_URL=http://localhost:11434

# OpenAI
OPENAI_API_KEY=

# TOGETHER
TOGETHER_API_KEY=